<<<<<<< HEAD
body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(-45deg, #ff4b1f, #1fddff, #24ff72, #9d00ff);
    background-size: 400% 400%;
    animation: moveGradient 10s ease infinite;
    display: flex;
    justify-content: center;
  
}

  @keyframes moveGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

button{
    background: #809AE8;
    transition: all 0.2s ease-in-out;
}

.other_btn_e{
  background: #2D0A31;
}
.other_btn_d{
  background: #FF004D;
=======
body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(-45deg, #ff4b1f, #1fddff, #24ff72, #9d00ff);
    background-size: 400% 400%;
    animation: moveGradient 10s ease infinite;
    display: flex;
    justify-content: center;
  
}

  @keyframes moveGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

button{
    background: #809AE8;
    transition: all 0.2s ease-in-out;
}

.other_btn_e{
  background: #2D0A31;
}
.other_btn_d{
  background: #FF004D;
>>>>>>> f5e9932b89f781309a6d604e4f583a1158debdb7
}